# ========================
# BACKEND (.env)
# ========================
PORT=4000
NODE_ENV=development
FRONTEND_URL=

# ========================
# FRONTEND (.env.local)
# ========================
NEXT_PUBLIC_API_URL=
